{% extends "base_layout.html" %}
{% block content %}

<form class="md-form" method="post" action="" enctype="multipart/form-data">
<div class="input-group">
  <div class="custom-file">
  <input type="file" class="custom-file-input" name="fd" id="inputGroupFile01"  autocomplete="off" required aria-describedby="inputGroupFileAddon01">
    <label class="custom-file-label" for="inputGroupFile01">Choose a CSV or JSON file</label>
   </div>
   <div class="row">&nbsp;
   <div class="col-md-12">
 </div></div>
<div class="input-group-prepend">
   <button type="submit" class="btn btn-primary">Upload</button>
    </div>

</div>

</form>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="application/javascript">
 $('input[type="file"]').change(function(e){
        var fileName = e.target.files[0].name;
        $('.custom-file-label').html(fileName);
    });
</script>
{% endblock content %}
