<html>
 <head> 
     
 </head>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
 
   <link rel="stylesheet" href="{{ url_for('static', filename='cola/css/normalize.css')}}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='cola/css/skeleton.css' )}}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='cola/css/font-awesome.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='cola/css/open-sans.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='cola/css/index.css') }}" /> 
  <link rel="stylesheet" href="{{ url_for('static', filename='cola/css/tooltipster.bundle.min.css') }} " />

  <link rel="stylesheet" href="{{ url_for('static', filename='cola/css/cytoscape.js-panzoom.css') }} " />

  <script src="{{ url_for('static', filename='cola/js/cytoscape.min.js') }}"></script>
  <script src="{{ url_for('static', filename='cola/js/cola.js') }}"></script>
  <script src="{{ url_for('static', filename='cola/js/cytoscape-cola.js') }}"></script>
  <script src="{{ url_for('static', filename='cola/js/jquery-3.1.1.min.js') }}"></script>
  <script src="{{ url_for('static', filename='cola/js/tooltipster.bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename='cola/js/srchview.js') }}"></script>
  <script src="{{ url_for('static', filename='cola/js/cytoscape-panzoom.js') }}"></script>

  
  <title>GnanaInsight DataView Panel</title>

<style>
.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
}
</style>


<body>
  <!--  Meta View Header -->
  <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
          <a class="navbar-brand mr-4" href="/">Gnanapath</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
              <a class="nav-item nav-link" href="{{ url_for('gn_home') }}">Home</a>
            </div>

   <!-- Navbar Right Side -->
            <div class="navbar-nav">
              {% if current_user.is_authenticated %}

                <a class="nav-item nav-link" href="{{ url_for('connect_server') }}">Connect</a>
                <a class="nav-item nav-link" href="{{ url_for('upload_file') }}">Upload</a>
                {% if disp_srch %}
                <a class="nav-item nav-link" href="{{ url_for('gnview_cola_api') }}">Searchview</a>
                <a class="nav-item nav-link" href="{{ url_for('gnmetaview_cola_api') }}">Metaview</a>
                {% endif %}
                <a class="nav-item nav-link" href="{{ url_for('logout') }}">Logout</a>

                {% else %}
                <a class="nav-item nav-link" href="{{ url_for('user_login') }}">Login</a>

              {% endif %}
            </div>
          </div>
        </div>
      </nav>
    </header>

	    
 <div  class="content-section">
   <hr />
  <h5>Gnana Search</h5>
  <label id="gnhdr_lbl"></label>
  <div id="cy" class="cymain">
  </div>

  <div class="cytools">
    <h5>Select Nodes </h5>
    <p> Select metanode and its datanodes to view </p>
    <select id="gnnode_selid" name="gnnode_selid">
      <option value="select">Select Node</option>
    </select>
    <button id="srchbtn">View</button>
    <label id="selstatuslbl"></label>
    <label id="selerrlbl" style="color:red"></labebl>
    <hr>

 <!--   <h5>Search Panel</h5>
    <p>Please enter SQL search string ex: SELECT * from customer </p>
    <input id="srchid" type="text" />
    <button id="srchbtn">Search</button>
    <label id="statuslbl"></label>
    <label id="errorlbl" style="color:red"></label>
    <hr>
   --> 
   <!-- <h6>Zoom View</h6>

      <div class="slidecontainer">
       <input type="range" min="1" max="100" value="50" id="gnzoomid" />  
        <!-- <p>Node Space</p>
         <input type="range" min="1" max="100" value="50" class="slider" id="gnnodespaceid">
      </div>
    -->  

       <div>
          <!--
          <label for="redo-layout" style="padding-right: 5px;" class="tooltip u-pull-left" title="Redo layout">Redo layout</label>
          <i id="redo-layout" class="fa fa-refresh action-icon tooltip" title="Redo layout"></i>
  
          <!--<h6> You may have to refresh several times. Click on the <i>Redo</i> button</p> -->
          <button id="redo-layout" class="fa fa-refresh action-icon tooltop" title="Redo Layout"> Redo Layout</button>
	  
      </div>
       <hr>
       
  <!--  Temparorily Disable Graph Alg      
    <h4>Graph Algorithms</h4>


    <label for="algorithm" class="tooltip u-pull-left" title="Run algorithm. Try running A* a few times to see distances to different nodes">
        Run algorithm
      </label>
    <div class="u-cf"></div>
    <select id="algorithm">
        <option value="none" selected>None</option>
        <option value="bfs">BFS</option>
        <option value="dfs">DFS</option>
      </select>
    <i id="redo-algorithm" class="fa fa-refresh action-icon tooltip" title="Redo algorithm visualization"></i>
 -->


  </div>

</div>
</body>
</html>
